form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 66px);
}

section {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 24px;
  margin: auto;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

section p {
  text-align: center;
}

@media screen and (min-width: 768px) {
  section {
    width: 50%;
  }
}
